@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.MovieModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Release Date</th>
                <th>UnRelese Date</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
 </div>

@section Movie {
    active 
}