@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.MovieDetailModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
    </table>

</div>
@section MovieDetail {
    active
}