@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.ScreenModel
@{
}
<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cinema</th>
                <th>Movie</th>
                <th>Time Start</th>
                <th>Time End</th>
                <th>Date</th>
                <th>Create Day</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button"><i class="ti ti-edit"></i></button>
                    <button type="button"><i class="ti ti-trash"></i></button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
@section Screen {
    active
}