@page
@model ASPNetCoreRazorPage_TicketMovie.Pages.Admin.SeatModel
@{
}<div class="container-fluid">
    <table id="example" class="table table-striped" style="width:100%">
    </table>

</div>
@section Seat {
    active
}
