<div class="card-header">
    <div class="d-sm-flex d-block align-items-center justify-content-between">
        <div class="mb-sm-0">
            <h3 class="card-title fw-semibold">Banner <small class="text-muted">list</small></h3>
        </div>
        <div>
            <a type="button" class="btn btn-primary" onclick="Add()"><i class="ti ti-plus">Add</i></a>
        </div>
    </div>
</div> 